<strong>Recuperando Senha</strong>

<p>Uma solicitação de recuperação de senha foi realizada para o e-mail ({{ email }})</p>

<p>Para continuar com a recuperação, utilize o token {{ token }}</p>

<a href="{{ link }}">Criar nova Senha</a>
